{% extends "base.html" %}

{% block title %}
    Role List
{% endblock %}

{% block page-content %}

    <div class="wrapper">
        	<div class="controlB">
            	<ul>
                	<li><a title="" href="/accounts/role/add"><img alt="" src="/static/images/icons/control/32/plus.png"><span>新建角色</span></a></li>
                    <li><a title="" href="/accounts/role/list"><img alt="" src="/static/images/icons/control/32/database.png"><span>角色列表</span></a></li>
                </ul>
                <div class="clear"></div>
            </div>

       <div class="wrapper">
        <!-- Dynamic table -->
        <div class="widget">
            <div class="title"><img class="titleIcon" alt="" src="/static/images/icons/dark/frames.png">
            <h6>角色设置</h6></div>
            <div class="CRC" style="width: 680px;"><div class="CRG" style="left: 317px; height: 210px;"><div style="cursor:e-resize" class="CRZ"></div></div><div class="CRG" style="left: 300px; height: 210px;"><div style="cursor:e-resize" class="CRZ"></div></div><div class="CRG" style="left: 949.067px; height: 210px;"><div style="cursor:e-resize" class="CRZ"></div></div><div class="CRG" style="left: 1265.1px; height: 210px;"><div style="cursor:e-resize" class="CRZ"></div></div><div class="CRL" style="left: 600.13px; height: 210px;"></div></div><table width="100%" cellspacing="0" cellpadding="0" id="res" class="sTable CRZ">
                <thead>
                     <tr>
                        <td>角色名称</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>

                    {% for i in lPage %}
                    <tr style="font-size: 13px;">
                        <td>{{ i.name }} </td>
                        <td>
                            <a href="/accounts/role/edit/{{ i.id }}/" onclick="return confirm('确认编辑角色吗？？')"class="smallButton" ><img src="/static/images/icons/dark/pencil.png" alt=""></a>
                            <a href="/accounts/role/delete/{{ i.id }}/" onclick="return confirm('确认删除角色吗？？')"class="smallButton" ><img src="/static/images/icons/dark/close.png" alt=""></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% include "common/paginator.html" %}
	</div>
    </div>

{% endblock %}
