{% extends "base.html" %}



{% block page-content %}
    <form class="form" role="form" action={{ postUrl }} method="POST" ">
        <fieldset>
       {% csrf_token %}
                <div class="widget">
                    <div class="title"><img class="titleIcon" alt="" src="/static/images/icons/dark/alert.png"><h6>用户信息修改</h6></div>
                <div class="formRow">
                      {% for item in form %}
                        {% if item.name = 'password' %}
                            {{item}}
                        {% else %}
                        <label style="margin: 0px 15px 0 15px;">{{item.label}}：</label>
                        	<div class="floatL">{{item}}</div>
                            <div class="col-md-offset-1 col-md-10">
                        {{item.errors}}
                    </div>
                        <div class="clear"></div>
                            {% endif %}
                    {% endfor %}
                    </div>

                  <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        <button type="submit" class="redB" onclick="return confirm('确认修改吗？')">确认修改</button>
                        <a  href="/accounts/user/resetpwd/{{ object.id }}" onclick="return confirm('确认重置密码吗？？')">重置密码</a>
                    <div>
                </div>
            </fieldset>

    </form>
    </div>
    </div>
{% endblock %}
